# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
!common/build
common/build/**
!common/build/generated
common/build/generated/**
!common/build/generated/sources
common/build/generated/sources/**
!common/build/generated/sources/schemaCode
!common/build/generated/sources/schemaCode/**
